

<h1>Places I've Been</h1>


<% for place in @places %>
    <li> 
    <p><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></p>
    </li>

   <% end %>

<! –– Leigh Comment: Add a new place ––>
<p><a href="/places/new">New Place</p>
